{% extends 'base.html' %} {% block bodyContent %}

<div class="row container" style="margin-top: 50px">
  <form class="col s12" action="{% url 'user:register' %}" method="POST">
    <div class="row">
      {% csrf_token %}
      <!-- -->
      {% for formfield in form%}
      <div class="row">
        <div class="input-field col s12">
          {{ formfield }}
          <label for="{{ formfields.id_of_label}}">{{ formfield.label }}</label>
        </div>
      </div>
      {%endfor %}
    </div>

    <button
      class="btn waves-effect waves-light green"
      type="submit"
      name="action"
    >
      Register
      <i class="material-icons right">send</i>
    </button>
  </form>
  <div class="col s12" style="margin-top: 20px">
    <a href="{% url 'user:login' %}"> Go to login </a>
  </div>
</div>

{% endblock %}
