{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    {%block styleSheet%} {% endblock %}

    <link rel="stylesheet" href="{% static 'base.css' %}" />

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8" />
    <title>JHub</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a
          href="#!"
          id="brand-logo-a"
          class="brand-logo"
          style="margin-left: 20px"
          >JHub</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul
          id="content-nav-list"
          class="right hide-on-med-and-down"
          style="margin-right: 20px"
        >
          <li><a href="">Feed</a></li>
          <li><a href="">Matches</a></li>
          <li><a href="">Explore</a></li>
          <li>
            <a
              class="dropdown-trigger"
              href="#!"
              data-target="nav-user-dropdown"
            >
              {{user}}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <ul id="nav-user-dropdown" class="dropdown-content">
      <li><a href="#!">Terms</a></li>
      <li><a href="#!">Settings</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'user:logout' %}">Logout</a></li>
    </ul>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="">Terms</a></li>
      <li><a href="">Settings</a></li>
      <li><a href="{% url 'user:logout' %}">Logout</a></li>
    </ul>

    <main>{% block bodyContent%} {% endblock %}</main>

    <footer class="page-footer" style="background:#006064;">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Acerca de JHub</h5>
            <p class="grey-text text-lighten-4">
              Un sitio para registrar partidas jugadas, acumular y canjear
              puntos y participar en torneos.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Redes</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Facebook</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Instagram</a>
              </li>
              <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2019 JHub
          <a class="grey-text text-lighten-4 right" href="#!"
            >Desarrollador de JHub</a
          >
        </div>
      </div>
    </footer>
  </body>

  <script src="{% static 'js/baseScript.js' %}"></script>
</html>
