{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    {%block styleSheet%} {% endblock %}

    <link rel="stylesheet" href="{% static 'base.css' %}" />

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8" />
    <title>JHub</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a
          href="#!"
          id="brand-logo-a"
          class="brand-logo"
          style="margin-left: 20px"
          >JHub</a
        >
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul
          id="content-nav-list"
          class="right hide-on-med-and-down"
          style="margin-right: 20px"
        >
          <li><a href="">My stats</a></li>
          <li><a href="">Matches</a></li>
          <li><a href="">Explore</a></li>
          <li>
            <a
              class="dropdown-trigger"
              href="#!"
              data-target="nav-user-dropdown"
            >
              {% block userName %} User {% endblock %}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <ul id="nav-user-dropdown" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">Go back</a></li>
    </ul>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="">Sass</a></li>
      <li><a href="">Components</a></li>
      <li><a href="">Javascript</a></li>
      <li><a href="">Mobile</a></li>
    </ul>

    {% block bodyContent%} {% endblock %}
  </body>

  <script src="{% static 'js/baseScript.js' %}"></script>
</html>
